main
  &.page-article-list
    section
      padding: 20px 50px 10px 50px
      margin-bottom: 30px;
      font-size: 16px
      background-color: white
      sides-shadow()
      top-and-sides-shadow()
  &.page-home
    section
      padding: 40px 50px 10px 50px

.archive-year-wrap
  font-size: 30px
  margin-bottom: -54px
  a
    color: link-color
    padding-top: 2px
    letter-spacing: -1.6px
    font-size: 58px

.archive-article-date
  padding: 10px
  min-width: 75px
  float: right

.archive-article-header
  h1
    clear: both
    border-top: 2px solid #546e7a
    margin-top: 6px
    padding-top: 10px
    font-size: 2rem
