.page-footer
  .category-list-count
  .tag-list-count
  .archive-list-count
    padding-left: 5px
    color: color-grey
    font-size: 0.85em
    &:before
      content: "("
    &:after
      content: ")"

.page-footer
  h5
    color: #ccc
    text-transform: uppercase
    letter-spacing: 2px
    margin-bottom: 1em
    line-height: 1em
    font-weight: bold
