.rss-icon:before
  font-family: FontAwesome
  content: '\f09e'

.menu-icon:before
  font-family: FontAwesome
  content: '\f0c9'

#mobile-menu
  float: right;
  margin-right: 20px;

#mobile-menu-close
  &:after
    font-family: FontAwesome
    content: '\f00d'
    float: right
