vendor-prefixes = webkit moz ms official

// share box
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// general
font-color = #272727
link-color = #349F8C
body-background-color = #fafafa
