@media only screen and (max-width: 992px)
  nav
    .nav-wrapper nav ul
        margin-right: 0
    .brand-logo
      left: 35px
  .pattern
    height: 95px
  .article
    padding: 10px 10px 5px 10px
  .page-navigation
    width: 100%
    .prev, .next
      width: 10%
  .article-entry .highlight
    margin: 0 -11px
  .article-entry pre, .pre-fake
    margin: 0 -11px

@media only screen and (max-width: 600px)
  .container
    width: 100%
  .page-wrap
    margin: 0 0 15px
  .side-nav
    padding-top: 56px
  nav ul a:hover, nav ul li.active
    background-color: transparent
  blockquote
    border-left: 7px solid #349f8c
    padding-left: 1rem
